@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit", sans-serif;

  /* Brand */
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;

  --color-secondary: #0f2a6b;

  --color-accent: #22c7e6;

  --color-warning: #fbbf24;

  /* Neutrals */
  --color-white: #ffffff;
  --color-background: #f8fafc;

  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;

  --color-border: #e2e8f0;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 90px;
}

/* html,
body,
#root {
  overflow-x: hidden;
} */

.sidebar-scroll::-webkit-scrollbar {
    width: 5px;
}

.sidebar-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 999px;
}

.sidebar-scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) transparent;

    scroll-behavior: smooth;
}
