# Firebase Web config (safe to expose client-side)
VITE_FIREBASE_API_KEY=AIzaSyDBnR_KcsFJxx3KqsmRVIKvlqZqrHqrvqs
VITE_FIREBASE_AUTH_DOMAIN=study-circle-app-285a7.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=study-circle-app-285a7
VITE_FIREBASE_STORAGE_BUCKET=study-circle-app-285a7.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=374394397946
VITE_FIREBASE_APP_ID=1:374394397946:web:41fc716037548c51855543

# Your deployed backend URL (update once backend is deployed to Render)
VITE_API_BASE_URL=http://localhost:4000
